@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap");
:root {
  --red-color: #6e3cbc;
  --yellow-color: #fc9918;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background: black;
  color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-menu .nav-item {
  list-style: none;
  margin: .5rem;
}

.navbar .nav-menu .nav-item .nav-link, .navbar .nav-menu .nav-item .nav-btn {
  color: white;
  text-decoration: none;
}

.navbar .nav-menu .nav-item .nav-btn {
  background-color: var(--yellow-color);
  color: black;
  font-weight: 600;
  border-radius: 30px;
  padding: .5rem;
}

.navbar .nav-menu .nav-item .nav-link:hover {
  background-color: var(--yellow-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
  border-radius: 30px;
  padding: .5rem;
}

.navbar .nav-menu .nav-item .nav-btn:hover {
  background-color: white;
  border: 3px solid --yellow-color;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
  border-radius: 30px;
  padding: .5rem;
}

.navbar .hamburger .bar {
  display: block;
  width: 33px;
  height: 4px;
  background-color: white;
  border-radius: 6px;
  position: relative;
  margin-bottom: 5px;
  z-index: 1;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .hamburger:hover .bar:nth-child(1) {
  background-color: var(--yellow-color);
}

.navbar .hamburger:hover .bar:nth-child(2) {
  -webkit-transform: translate(10px);
          transform: translate(10px);
  background-color: var(--red-color);
}

.navbar .hamburger:hover .bar:nth-child(3) {
  background-color: var(--yellow-color);
}

.navbar .hamburger.is-active .bar:nth-child(1) {
  -webkit-transform: translate(0px, -2px) rotate(45deg);
          transform: translate(0px, -2px) rotate(45deg);
}

.navbar .hamburger.is-active .bar:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.navbar .hamburger.is-active .bar:nth-child(3) {
  -webkit-transform: translate(-3px, 3px) rotate(-45deg);
          transform: translate(-3px, 3px) rotate(-45deg);
}

.navbar .hamburger.is-active:hover span {
  background-color: var(--yellow-color);
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.hero-section h1 .word1, .hero-section h1 .word2 {
  font-weight: 600;
  font-size: 70px;
  color: var(--yellow-color);
  margin-bottom: .5rem;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
}

.hero-section h1 .word2 {
  color: var(--red-color);
}

.hero-section h1 span {
  font-size: 70px;
  font-weight: 200;
  color: white;
}

.hero-section h2 {
  font-size: 50px;
  font-weight: 300;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.hero-section .hero-btns {
  margin-top: 1.5rem;
}

.hero-section .hero-btns .hero-btn {
  border-radius: 30px;
  border: solid 3px white;
  padding: .5rem;
  text-decoration: none;
  color: white;
  margin: .5rem;
}

.portfolio-section {
  height: 100vh;
}

.portfolio-section h1 {
  color: #EF4B4B;
}

.portfolio-section .portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.portfolio-section .portfolio-container .panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: -webkit-box-flex 0.7s ease-in;
  transition: -webkit-box-flex 0.7s ease-in;
  transition: flex 0.7s ease-in;
  transition: flex 0.7s ease-in, -webkit-box-flex 0.7s ease-in, -ms-flex 0.7s ease-in;
}

.portfolio-section .portfolio-container .panel .project-info h3, .portfolio-section .portfolio-container .panel .project-info p {
  opacity: 0;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  padding: 1rem .5rem 0rem 0.5rem;
  text-align: center;
}

.portfolio-section .portfolio-container .panel .project-info h3 {
  font-size: 50px;
  font-weight: 600;
}

.portfolio-section .portfolio-container .panel .project-info p {
  font-size: 25px;
}

.portfolio-section .portfolio-container .panel .project-info .project-btn {
  position: absolute;
  bottom: 11%;
  left: 11%;
  background-color: var(--red-color);
  color: white;
  border-radius: 50px;
  padding: 1rem;
  opacity: 0;
}

.portfolio-section .portfolio-container .panel.active {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.portfolio-section .portfolio-container .panel.panel.active .project-btn {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.4s;
  transition: opacity 0.3s ease-in 0.4s;
}

.portfolio-section .portfolio-container .active .project-info h3, .portfolio-section .portfolio-container .active .project-info p {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.4s;
  transition: opacity 0.3s ease-in 0.4s;
}

.blog-section .blog-title {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-section .blog-title h3 {
  -webkit-margin-before: .5rem;
          margin-block-start: .5rem;
  -webkit-margin-after: .5rem;
          margin-block-end: .5rem;
}

.blog-section .blog-container .post-info {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  background-color: #6e3cbc;
  border-radius: 30px;
}

.footer-section {
  margin-top: 2rem;
}

.footer-section .footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 20% 20% 20%;
      grid-template-columns: 30% 20% 20% 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-section .footer-container .footer-card, .footer-section .footer-container .footer-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 5rem 1rem;
}

.footer-section .footer-container .footer-card p, .footer-section .footer-container .footer-card-info p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.footer-section .footer-container .footer-card a, .footer-section .footer-container .footer-card-info a {
  text-decoration: none;
  color: white;
  padding-bottom: .5rem;
}

.footer-section .footer-copyright {
  text-align: center;
}

@media (max-width: 510px) {
  .hero-section {
    margin: 1rem;
  }
  .portfolio-container {
    width: 100vw;
  }
  .project-info h3 {
    font-size: 10px;
  }
  .panel:nth-of-type(2),
  .panel:nth-of-type(3),
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

@media (max-width: 600px) {
  .blog-section-info {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-section .blog-section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-container .footer-card-info {
    text-align: center;
    margin: 1rem 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-section .footer-container .footer-card-info p {
    width: 250px;
    color: grey;
  }
  .footer-section .footer-container .footer-card {
    text-align: center;
    margin: 0rem 1rem;
  }
  .footer-section .footer-container .footer-card a {
    color: grey;
  }
}

@media (min-width: 750px) {
  .hero-section {
    margin: 5rem 1rem;
  }
  .hero-section h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .hero-section h2 {
    font-size: 35px;
  }
  .blog-section .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog-section .blog-container .post-info {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    background-color: #bcba3c;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 950px) {
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .navbar .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0px;
    background-color: black;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin-top: 0;
    z-index: 100;
    -webkit-transition: .5s;
    transition: .5s;
    left: -100%;
  }
  .navbar .nav-menu .nav-item {
    margin-top: 3rem;
  }
  .navbar .show-nav {
    left: 0;
  }
  .portfolio-container {
    width: 100vw;
  }
  .panel:nth-of-type(3),
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

@media (max-width: 1300px) {
  .portfolio-container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

@media (max-width: 1500px) {
  .portfolio-container {
    width: 100vw;
  }
  .panel:nth-of-type(5) {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */