// Custom Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');

// root
:root {
    --red-color: #6e3cbc;
    --yellow-color: #fc9918;
    
}

// body
body {
    // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: black;
    color: white;

}


.navbar {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;

    .nav-menu {
        // display: none;
        display: flex;
        .nav-item {
            // text-decoration: none;
            list-style: none;
            margin: .5rem;
            
            .nav-link , .nav-btn{
                color: white;
                text-decoration: none;
            }

            .nav-btn {
                // border: 3px solid white;
                background-color: var(--yellow-color);
                color: black;
                font-weight: 600;
                border-radius: 30px;
                padding: .5rem;
            }

            .nav-link:hover {
                background-color: var(--yellow-color);
                // border: none;
                transition: 0.3s;
                color: black;
                border-radius: 30px;
                padding: .5rem;
            }

            .nav-btn:hover {
                background-color: white;
                border: 3px solid --yellow-color;
                transition: 0.3s;
                color: black;
                border-radius: 30px;
                padding: .5rem;
            }


            
        }
    }

    .hamburger {
        .bar {
            display: block;
            width: 33px;
            height: 4px;
            background-color: white;
            border-radius: 6px;
            position: relative;
            margin-bottom: 5px;
            z-index: 1;
            transform-origin: 0 0;
            transition: 0.4s;
        }
    }

    .hamburger:hover {
        .bar:nth-child(1) {
            background-color: var(--yellow-color);
        }
        .bar:nth-child(2) {
            transform: translate(10px);
            background-color: var(--red-color);
        }
        .bar:nth-child(3) {
            background-color: var(--yellow-color);
        }
    }
    .hamburger.is-active {
        .bar:nth-child(1) {
            transform: translate(0px, -2px) rotate(45deg);
        }
    }
    .hamburger.is-active {
        .bar:nth-child(2) {
            opacity: 0;
            transform: translateX(15px);
        }
    }
    .hamburger.is-active{
        .bar:nth-child(3) {
            transform: translate(-3px, 3px) rotate(-45deg);
        }
    }
    .hamburger.is-active:hover span{
        background-color: var(--yellow-color);
    }
}






.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    // border: 2px solid white;
    h1 {
        .word1 , .word2{
            font-weight: 600;
            font-size: 70px;
            color: var(--yellow-color);
            margin-bottom: .5rem;
            margin-block-start: 0em;
        }
        .word2{
            color: var(--red-color);
        }
        
        span {
            font-size: 70px;
            font-weight: 200;
            color: white;
        }
    }
    h2 {
        font-size: 50px;
        font-weight: 300;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .hero-btns {
        margin-top: 1.5rem;
        .hero-btn{
            border-radius: 30px;
            border: solid 3px white;
            padding: .5rem;
            text-decoration: none;
            color: white;
            margin: .5rem;
        }
    }
}

.portfolio-section {
    height: 100vh;
    // border: 2px solid white;
    h1 {
        color: #EF4B4B;
    }

    .portfolio-container{
        display: flex;
        width: 100%;

        .panel{
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 80vh;
            border-radius: 50px;
            color: white;
            cursor: pointer;
            flex: 0.5;
            margin: 10px;
            position: relative;
            transition: flex 0.7s ease-in;

            .project-info {
            
                h3, p {
                    opacity: 0;
                    margin-block-start: 1em;
                    margin-block-end: 0em;
                    padding: 1rem .5rem 0rem 0.5rem;
                    text-align: center;
                }

                h3 {
                    font-size: 50px;
                    font-weight: 600;
                }
                p {
                    font-size: 25px;
                }

                .project-btn {
                    position: absolute;
                    bottom: 11%;
                    left: 11%;
                    background-color: var(--red-color);
                    color: white;
                    border-radius: 50px;
                    padding: 1rem;
                    // width: 100px;
                    opacity: 0;
                }
                
                
            } 
        }
        
    
        .panel.active {
            flex: 3;
        }
        
        .panel.panel.active {
            .project-btn {
                    opacity: 1;
                    transition: opacity 0.3s ease-in 0.4s;
            }
        }
        .active {
            .project-info {
                h3, p {
                    opacity: 1;
                    transition: opacity 0.3s ease-in 0.4s;
                }
            }
        }
           
    }
    
    
}

// .blog-section {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 4rem;
//     height: 100vh;

//     .blog-title {
//         display: flex;
//         align-items: center;
//         color: #EF4B4B;
//         justify-content: center;
//         font-size: 50px;

//         h3 {
//             margin-block-start: .5rem;
//             margin-block-end: .5rem;
//         }
//     }

//     .blog-container {
//         display: flex;

//         .blog-detail-container {
//             display: flex;
//             flex-direction: row;
//             // background-color: #6e3cbc;
//             // border-radius: 30px;
//             margin: 0 2rem;
//         }

//         .post-info {
//             display: flex;
//             justify-content: center;
//             flex-direction: column;
//             margin: 1rem;
//             background-color: #6e3cbc;
//             padding: 2rem;
//             border-radius: 30px;

//             h3 {
//                 font-size: 20px;
//                 font-weight: 600;
//                 margin-block-start: 0em;
//                 margin-block-end: 0em;
//             }

//             .blog-section-btn {
//                 text-align: center;
//                 width: 100px;
//                 border-radius: 30px;
//                 border: solid 3px white;
//                 padding: 0.5rem;
//                 text-decoration: none;
//                 color: white;
//                 // margin: 0.5rem;
//             }
//         }

//         .blog-section-posts{
//             display: grid;
//             grid-template-columns: 200px 200px;
//             justify-content: center;
//             margin: 2rem;
//             // position: relative;

            

//             .post-info {
//                 position: relative;
//                 margin: .5rem;


//             }
            
//         }
//     }
// }


.blog-section {
    // display: flex;

    .blog-title {
        font-size: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        h3{
            margin-block-start: .5rem;
            margin-block-end: .5rem;
        }
    }

    .blog-container {

        .post-info {
            padding: 1rem;
            margin: 1rem;
            text-align: center;
            background-color: #6e3cbc;
            border-radius: 30px;
        }
    }
}



// Footer

.footer-section {
    margin-top: 2rem;

    .footer-container {
        display: grid;
        grid-template-columns: 30% 20% 20% 20%;
        justify-content: center;

        .footer-card, .footer-card-info {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin: 5rem 1rem;
            

            p {
                margin-block-start: 0em;
                margin-block-end: 0em;
            }

            a {
                text-decoration: none;
                color: white;
                padding-bottom: .5rem;
            }
        }
    }

    .footer-copyright {
        text-align: center;
    }

}





// Media Start
@media (max-width: 510px){

    .hero-section{
        margin: 1rem ;
        
    }
    .portfolio-container {
        width : 100vw;

    }

    .project-info{
        h3 {
            font-size: 10px;
        }
    }

    .panel:nth-of-type(2),
    .panel:nth-of-type(3),
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}

@media (max-width: 600px){


    .blog-section-info {
        text-align: center;
        align-items: center;
    }

    .blog-section {
        .blog-section-container {
                display: flex;
                flex-direction: column;
        }
    }

    .footer-section {
        .footer-container {
            display: flex;
            flex-direction: column;
            
            .footer-card-info {
                text-align: center;
                margin: 1rem 1rem;
                align-items: center;

                p {
                    width: 250px;
                    color: grey;
                }
            }

            .footer-card {
                text-align: center;
                margin: 0rem 1rem;

                a{
                    color: grey;
                }
            }
        }
    }
    


}


@media (min-width: 750px){
    .hero-section{
        margin: 5rem 1rem;
        
        h1 {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        h2 {
            font-size: 35px;
        }
    }

    .blog-section {
    
        .blog-container {
            display: flex;
            .post-info {
                padding: 1rem;
                margin: 1rem;
                text-align: center;
                background-color: #bcba3c;
                border-radius: 30px;
            }
        }
    }
    


     

    
}

@media only screen and (min-width: 950px){
    .hamburger {
        display: none;
    }

   
}


@media only screen and (max-width: 950px){

    .navbar {
        

        .nav-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 0px;
            // left: 0;
            background-color: black;
            width: 100%;
            height: 100vh;
            padding: 0;
            margin-top: 0;
            z-index: 100;
            transition: .5s;
            left: -100%;

            .nav-item {
                margin-top: 3rem;
            }
        }

        .show-nav {
            left: 0;
        }

        .nav-logo {
            // top: 30px;
            // position: fixed;
            // z-index: 101;
            // left: 10px;
        }

        .hamburger {
            // top: 30px;
            // position: fixed;
            // z-index: 101;
            // right: 10px;
        }
    }

    // .nav-menu {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     position: fixed;
    //     top: 30px;
    //     background-color: black;
    //     width: 100%;
    //     height: 100vh;
    //     padding: 25px;
    //     z-index: 100;
    //     transition: .5s;

    //     .nav-item {
    //         // display: none;
    //         padding: 2rem;
       
            
    //     }
    // }

    // .hamburger {
    //     position: fixed;
    //     top: 30px;
    //     right: 15px;
    //     z-index: 101;
    // }
    


    //porfolio
    .portfolio-container {
        width : 100vw;
    }

    .panel:nth-of-type(3),
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}



@media (max-width: 1300px){
    .portfolio-container {
        width : 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}

@media (max-width: 1500px){

   
    .portfolio-container {
        width : 100vw;
    }

    // .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}